@charset "utf-8";
/* CSS Document */
body
{
	background: rebeccapurple;
	background: -webkit-linear-gradient(#32004b, #0d004c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#32004b, #0d004c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#32004b, #0d004c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#32004b, #0d004c); /* Standard syntax */
}

nav{
	margin-top: 30px;
	background: #181818;
	background:-webkit-linear-gradient(left top, #0e0e0e, #484848); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #0e0e0e, #484848); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #0e0e0e, #484848); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #0e0e0e, #484848); /* Standard syntax */
}

nav div
{
	display: flex;
	justify-content: space-between;
	margin: 0 1px;
	padding: 1px;
}

.navgroup
{
	flex:1 0 65%;
	display: flex;
	justify-content: space-around;
}

a .Logo 
{
	flex: 1 0 20%;
}

.Logo{
	margin-top: 10px;
	width: 100%;
	height: 75px;
}

a.DiscoverButton, a.PlayButton, a.WatchButton, a.GUButton
{
	flex: 1 0 100%;
}

.DiscoverButton, .PlayButton, .WatchButton, .GUButton
{
	margin-top: 25px;
	width:100%;
	height: 50px;
}

.Logo:hover
{
	background-color: darkgrey;
	flex: 1 0 430px;
	height: 100px;
}

.DiscoverButton:hover, .PlayButton:hover, .WatchButton:hover, .GUButton:hover
{
	background-color: darkgrey;
	margin-top: 25px;
	flex: 1 0 310px;
	height: 75px;
}

.Logo, .DiscoverButton, .PlayButton, .WatchButton, .GUButton
{
	box-shadow: 0 9px 5px 0px gray;
	margin-bottom: 20px;
}

main
{
	z-index: -1;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 300px;
	background-color:skyblue;
	background: -webkit-linear-gradient(blue, skyblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, skyblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, skyblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, skyblue); /* Standard syntax */
}

main .movingImage
{
	z-index: 1;
	width: 100%;
	height: 300px;
	/*creative commons image original URL: https://pixabay.com/en/cityscape-skyline-silhouette-black-32210/*/
	background-image: url(../Images/cityscapeCrope.png);
	display: flex;
	justify-content: space-around;
}

.cloud1
{
	background-image: url(../Images/SmallCloud1.png);
	
}

.cloud2
{
	background-image: url(../Images/SmallCloud2.png);
}

.cloud3
{
	background-image: url(../Images/LargeCloud1.png);
}

.superdude
{
	flex: 1 1;
	width: 5%;
}

.Dude
{
	display: none;
}

.Secret
{
	height: 100px;
}

.Secret:hover ~ .Dude
{
	flex: 1 1;
	width: 5%;
}

.Secret:hover ~ .superdude
{
	display: none;
	visibility: hidden;
}

.thoughtbubble
{
	font-family: "Comic Sans MS";
	margin: 0px 5px 0px 0px;
	flex: 1 0 40%;
	margin-top: 20px;
	height: 50%;
	background-color: cornsilk;
}

.thoughtbubble h1, .thoughtbubble strong
{
	margin-top: 20px;
	background-color: cornsilk;
}

strong
{
	font-size: 18px;
}

Section
{
	width: 100%;
	height: 300px;
	background-color:darkslategray;
}

.Discover
{
	background-color:darkblue;
	background:-webkit-linear-gradient(left top, blue, darkblue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, blue, darkblue); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, blue, darkblue); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, blue, darkblue); /* Standard syntax */
}

.Play, .character
{
	background-color:darkgreen;
	background:-webkit-linear-gradient(left top, darkgreen, yellowgreen); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, darkgreen, yellowgreen); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, darkgreen, yellowgreen); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, darkgreen, yellowgreen); /* Standard syntax */
}

.Watch
{
	background-color:orangered;
	background:-webkit-linear-gradient(left top, orangered, red); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, orangered, red); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, orangered, red); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, orangered, red); /* Standard syntax */
}

.Watch div, .Play div, .Discover div, .character div
{
	display: flex;
	justify-content: space-around;
}

.gamebutton
{
	width: 25%;
	height: 150px;
}

.gamebutton:hover
{
	box-shadow: 0 9px 5px 0px gray;
	margin-bottom: 20px;
}

.SuperCity
{
	margin-left: 10px;
	width:225px;
	height:225px;
}

footer
{
	color: greenyellow;
	padding: 5px;
	margin: 10px;
}

@media(min-width:480px)
{
	a .Logo 
{
	flex: 1 0 25%;
}

.Logo{
	margin-top: 10px;
	height: 125px;
}

.DiscoverButton, .PlayButton, .WatchButton, .GUButton
{
	margin-top: 25px;
	width:100%;
	height: 100px;
}
	
.Logo:hover
{
	height: 150px;
}

.DiscoverButton:hover, .PlayButton:hover, .WatchButton:hover, .GUButton:hover
{
	margin-top: 25px;
	height: 125px;
}
	
.superdude
{
	flex: 1 0 30%;
}
}

@media(min-width:860px)
{	
.sections
	{
		display: flex;
		justify-content: space-between;
		height: 400px;
	}
	
.Discover, .Play, .Watch, .character
	{
		margin: -10px 5px 0;
		flex: 1 0 25%;
		height: 400px;
	}
	
a .Logo 
{
	flex: 1 0 30%;
}

.Logo{
	margin-top: 10px;
	height: 175px;
}

.DiscoverButton, .PlayButton, .WatchButton, .GUButton
{
	margin-top: 25px;
	width:100%;
	height: 150px;
}
	
.Logo:hover
{
	height: 200px;
}

.DiscoverButton:hover, .PlayButton:hover, .WatchButton:hover, .GUButton:hover
{
	margin-top: 25px;
	height: 175px;
}
	
	strong
	{
		font-size: 22px;
	}
}

@media(min-width:1220px)
{
	a .Logo 
{
	flex: 1 0 30%;
}

.Logo{
	margin-top: 10px;
	height: 225px;
}

.DiscoverButton, .PlayButton, .WatchButton, .GUButton
{
	margin-top: 25px;
	width:100%;
	height: 200px;
}
	
.Logo:hover
{
	height: 250px;
}

.DiscoverButton:hover, .PlayButton:hover, .WatchButton:hover, .GUButton:hover
{
	margin-top: 25px;
	height: 225px;
}
	
.superdude
{
	flex: 1 0 30%;
}
	
.thoughtbubble strong, .thoughtbubble h1
{
	width: 60%;
}
}